<div class="container text-center" style="padding-top: 4em; margin-bottom: 17.8em;">
	<div class="alert alert-info col-sm-offset-3 col-xs-offset-1 col-xs-10 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-5 col-sm-6 text-center"
	 style="padding: 1.5em 1em;background:#f6f6fb;border-radius: 5px;border-top: 0.2em solid #c4ced5;border-bottom: 1px solid #c4ced5;border-radius: 10px;">
		<h3> 404 Not Found!</h3>
		<h5>The page you are looking for does not exist</h5>
	</div>
</div>