<div class="container login" style="margin-top: 1em;padding-top: 1em; padding-bottom: 5.7em; margin-bottom:7em">
	<div class="row">
		{{#if errorMessage}}
		<div class="alert alert-danger col-xs-offset-1 col-sm-offset-4 col-xs-10 col-sm-4 text-center">
			<span class="glyphicon glyphicon-exclamation-sign"></span><br/> {{errorMessage}}
		</div>
		{{/if}}
		<div class="login-form col-sm-offset-3 col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 col-sm-4 text-center">
			<div class="head">
				<h3>Log in</h3>
			</div>
			<form id="login" method="POST" action="/login" class="form-vertical" style="margin-top: 4em">
				<div class="input-group" id="username" style="margin-bottom: 0.5em;">
					<div class="input-group-addon login">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<input type="text" class="form-control login" placeholder="Username" name="username" required/>
				</div>
				<div class="input-group" id="password" style="margin-bottom: 20px">
					<div class="input-group-addon login">
						<span class="glyphicon glyphicon-lock"></span>
					</div>
					<input type="password" class="form-control login" placeholder="Password" name="password" required/>
				</div>
				<p style="margin-top:2em">Don't have an account <a href="/register">register</a></p>
				<div class="submit">
					<button id="login" type="submit" class="btn btn-primary btn-block">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>
